@model List<Deprem>


<table class="table table-striped" id="my-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Şehir</th>
            <th scope="col">Şiddet</th>
            <th scope="col">Tarih</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.IlMalatya.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@ViewBag.IlMalatya[i]</td>

                @{
                    if (ViewBag.SiddetMalatya[i] >= 3.0m && ViewBag.SiddetMalatya[i] < 4.0m)
                    {
                        <td class="bg-warning">@ViewBag.SiddetMalatya[i]</td>
                    }
                    else if (ViewBag.SiddetMalatya[i] >= 4.0m)
                    {

                        <td class="bg-danger">@ViewBag.SiddetMalatya[i]</td>
                    }
                    else
                    {
                        <td>@ViewBag.SiddetMalatya[i]</td>

                    }
                }

                <td>@ViewBag.TarihMalatya[i]</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" asp-controller="Home">ANASAYFAYA DÖN</a>